@import "../../../assets/scss/global";
$myRadius: 3px;
.timeline-filter {
  position: absolute;
  margin-top: 10px;
  right: 10px;
  top: $navbar-height;
  font-size: set-font-size(0.75);

  .timeline-filter-wrapper {
    background-color: $steel;
    position: relative;
    border-radius: $myRadius;
    line-height: 25px;
    cursor: pointer;

    .timeline-filter-list ,
    .timeline-filter-chevron {
      width: 20px;
      height: 25px;
      text-align: center;
  }
  .timeline-filter-chevron {
    float: left;
    border-top-left-radius: $myRadius;
    border-bottom-left-radius: $myRadius;
    background-color: $blue;
  }

  .timeline-filter-list {
    float: right;
    border-top-right-radius: $myRadius;
    border-bottom-right-radius: $myRadius;
    background-color: $steel;
    color: $blue;
  }
  .timeline-filter-form {
    background-color: inherit;
    height: 25px;
    overflow: hidden;
    float: left;

    form {
      padding: 0 10px;
    }

    .checkbox input,
    .checkbox label {
      margin-right: 5px;
      color: lighten($tan, 7%);
    }
  }

}
}

.timeline-filter-legend {
  position: absolute;
  margin-top: 10px;
  right: 10px;
  top: $navbar-height;
  font-size: set-font-size(0.75);
  color: $steel;
  padding-right: 45px;
  height: 25px;
  line-height: 25px;

  span {
    padding-left: 25px;
  }
  .myBlue {
    color: $blue;
    }
    .myOrange {
      color: $orange;
    }
    .myGreen {
      color: $green;
    }
    .myWhite {
      color: $white;
    }
}
