<div class="timeline-filter" >
  <div 
     *ngIf="!show" 
     (click)="toggleFilter($event, true)" 
     class="icon" >
     <div class="open"><i class="fa fa-chevron-left" >&nbsp;</i></div>
     <i class="fa fa-bars" >&nbsp;</i>
  </div>
  <div *ngIf="show" (click)="toggleFilter($event, false)" class="filter" >
    <div class="select"><i class="fa fa-chevron-right" >&nbsp;</i></div>
   
    <form novalidate class="form-inline" [formGroup]="filterGroup" >
      <div *ngFor="let box of options" class="checkbox" (click)="toggleCheckbox($event, box)">
        <label [for]="box" >
          <input 
          type="checkbox" 
          [checked]="checkboxState[box]"
          [value]="checkboxState[box]"
          formControlName="{{box}}" />{{labels[box]}}
        </label>
      </div>
    </form>
  </div>
</div>

