.alert {
  td.icon {
    font-size: set-font-size(1.5);
    vertical-align: middle;
    padding: 0px 10px;
    width: 56px;
}
td.message {
  vertical-align: middle;
  font-size: set-font-size(0.9);
}
}
