/**
  * Colors are defined in _variables.scss. This is a means to assign those variables just to classes
  */
.grey {
	color: $grey;
}
.white {
	color: $white;
}
.lime {
	color: $lime;
}
.green {
	color: $green;
}
.red {
	color: $red;
}
.blue {
	color: $blue;
}
.brown {
	color: $brown;
}
.orange {
	color: $orange;
}
.tan {
	color: $tan;
}
.osx {
	color: $osx;
}
.steel {
	color: $steel;
}

.grey-bg {
	background-color: $grey;
}
.white-bg {
	background-color: $white;
}
.lime-bg {
	background-color: $lime;
}
.green-bg {
	background-color: $green;
}
.red-bg {
	background-color: $red;
}
.blue-bg {
	background-color: $blue;
}
.brown-bg {
	background-color: $brown;
}
.orange-bg {
	background-color: $orange;
}
.tan-bg {
	background-color: $tan;
}
.osx-bg {
	background-color: $osx;
}
.steel-bg {
	background-color: $steel;
}
