$body-bg: #151515 !default;

$font-family-base: 'Dosis', sans-serif !default;
$font-size-base: 18px !default;
$font-weight-base: normal !default;
$font-style-base: normal !default;
$line-height-base: 1.8 !default;
$font-color-base: #545454 !default;
$word-spacing-base: 1pt !default;
$letter-spacing-base: 0.25pt !default;

  
$grey: #787878;
$white: #FEFEFE;
$lime: #b0eb00;
$green: #9EAD4A;
$red: #BB374A;
$blue: #0084BF;
$brown: #8C4E39;
$orange: #F6851F;
$tan: #F9E3C2;
$osx: #D1D7CD;
$steel: #474D5D;

// navbar
$navbar-height: 60px;
$navbar-padding-top: 10px;
$navbar-padding-bottom: 10px;
$navbar-background-color: rgba(0, 0, 0, 0.5);

// sections
$section-bg: #FFFFFF !default;
