@import "../../assets/scss/global";

@mixin svg {
  width: 100%;
  height: 100%;
  display: block;
}
svg.timeline-container {
  @include svg;
}

svg.bubble-container {
  @include svg;

  .d3-bubble {
    shape-rendering: crispEdges;
  }

  *[bubble-visibility="0"] {
    display: none;
  }

}

svg .x-axis {

  .axis path.domain,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  .axis text {
    font-family: sans-serif;
    font-size: 11px;
  }
}

svg .timeline {
  path.timeline-shape { 
    stroke: lighten($steel, 5%);
    stroke-linecap: round;
    stroke-width: 1;
    fill: lighten($steel, 1%);
  }

  path.timeline-path { 
    stroke: darken($steel, 50%);
    stroke-linecap: round;
    stroke-width: 1;
    fill: none;
  }
  rect.timeline-rect { 
  }
}

.x-axis  {
  path.domain {
    stroke: lighten($tan, 7%);
    stroke-width: 2;
  }
  .tick text {
    fill: darken($white, 20%);
    stroke-width: 0;
    cursor: pointer;
  }
  .tick text[text-color="myBlue"] {
    fill: $blue;
  }
  .tick text[text-color="myOrange"] {
    fill: $orange;
  }
  .tick text[text-color="myGreen"] {
    fill: $green;
  }
  .tick text[text-color="myWhite"] {
    fill: $white;
  }
  .tick line {
    stroke: lighten($tan, 7%);
    stroke-width: 2;
  }
}
