body {
		background-color: #313540;
		/*background-color: lighten($tan,7%);*/
		font-family: "Dosis", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 1.8;
		color: #545454; }

h1 {
		font-weight: 200;
		font-size: 54px; }

h2 {
		font-weight: 300;
		font-size: 36px; }

h3 {
		font-weight: 300;
		font-size: 27px; }

h4 {
		font-weight: 300;
		font-size: 19.8px; }

a:hover, a:active, a:visited, a {
		color: #F6851F;
		text-decoration: none; }

.clickable {
		cursor: pointer; }

/**
  * Colors are defined in _variables.scss. This is a means to assign those variables just to classes
  */
.grey {
		color: #787878; }

.white {
		color: #FEFEFE; }

.lime {
		color: #b0eb00; }

.green {
		color: #9EAD4A; }

.red {
		color: #BB374A; }

.blue {
		color: #0084BF; }

.brown {
		color: #8C4E39; }

.orange {
		color: #F6851F; }

.tan {
		color: #F9E3C2; }

.osx {
		color: #D1D7CD; }

.steel {
		color: #474D5D; }

.grey-bg {
		background-color: #787878; }

.white-bg {
		background-color: #FEFEFE; }

.lime-bg {
		background-color: #b0eb00; }

.green-bg {
		background-color: #9EAD4A; }

.red-bg {
		background-color: #BB374A; }

.blue-bg {
		background-color: #0084BF; }

.brown-bg {
		background-color: #8C4E39; }

.orange-bg {
		background-color: #F6851F; }

.tan-bg {
		background-color: #F9E3C2; }

.osx-bg {
		background-color: #D1D7CD; }

.steel-bg {
		background-color: #474D5D; }

#splash {
		width: 500px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -250px;
		text-align: center;
		/*color: darken($steel, 10%);*/
		color: #fcf2e3; }

.content {
		min-height: 100%; }

.content:after {
		content: "";
		display: block;
		height: 50px; }

.footer {
		background-color: #0084BF;
		width: 100%;
		height: 50px;
		opacity: 0.9; }
		.footer .footer-content {
				font-size: 18px;
				line-height: 1.8;
				padding: 0 10px;
				width: 100%;
				color: #b2b2b2; }
				.footer .footer-content ul li {
						float: right;
						height: 18px;
						padding-right: 10px; }
				.footer .footer-content li.fa {
						margin-top: 8px; }
				.footer .footer-content a {
						color: #b2b2b2; }

.navbar {
		background-color: rgba(0, 0, 0, 0.5);
		height: 60px;
		padding-top: 10px;
		padding-bottom: 10px; }
		.navbar .navbar-brand {
				padding: 0px; }
		.navbar ul.navbar-nav a.nav-link {
				color: #FFFFFF;
				padding: 0 20px; }
		.navbar ul.navbar-nav a.nav-link.disabled {
				opacity: 0.5; }
		.navbar button.navbar-toggler .navbar-toggler-icon {
				cursor: pointer; }
				.navbar button.navbar-toggler .navbar-toggler-icon .fa.fa-bars {
						color: #ACACAC;
						width: 20px;
						margin: 0 auto; }
		.navbar .collapse.show {
				position: absolute;
				left: 0px;
				top: 60px;
				width: 100%;
				margin: 0;
				padding: 0;
				background-color: rgba(0, 0, 0, 0.5); }

label[required]:after {
		content: "*";
		color: red; }

button[ng-reflect-disabled].btn {
		background-color: #999;
		border-color: #999; }

textarea.ng-touched.ng-invalid,
input.ng-touched.ng-invalid {
		border-color: red; }

.alert td.icon {
		font-size: 27px;
		vertical-align: middle;
		padding: 0px 10px;
		width: 56px; }

.alert td.message {
		vertical-align: middle;
		font-size: 16.2px; }

/* testing */
.section {
		background-color: #FFFFFF;
		overflow: hidden;
		position: relative;
		width: 100%; }
		.section .header {
				bottom: 0px;
				position: absolute; }
				.section .header .title {
						margin-left: 15px; }
				.section .header .sub-title {
						opacity: 0.60;
						font-style: italic;
						margin-top: -5px;
						margin-left: 15px; }
		.section .description {
				margin: 50px 50px; }

.section.section-a {
		background-color: #313540; }
