.section {
  .img {
    left: 0;
    img {
      width: 100%;
    }
  }
  .svg_context {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #222222;
    opacity: 0.50;

    .svg_poly {
      background-color: #222222;
      opacity: 0.50;
    }
  }
}

.fg-white {
  color: #FFFFFF;
}   

.fg-black {
  color: #000000; 
}

@media (max-width: 950px) {
  .section {
    .img {
      img {
        width: 950px;
      } 
    }   
  } 
}   
